<!DOCTYPE html>
<html lang="en">
  <head> 
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  </head>
  <body class="container">
    <header><%- include('./header'); %></header>

    <main>
        <div class="col-sm-4">
          <div class="well">
            <h2>Searchable Copies</h2>
            <p><%= tagline %></p>
            <label for="language">Choose a language:</label>

            <select name='language' id='language'>
              <option value='all' >All</option>
              <option value='English'>English</option>
              <option value='Spanish'>Spanish</option>
              <option value='Persian'>Persian</option>  
            </select>
            <ul id="text">
              <% copies.forEach(function(copy) { %>
              <li><%= copy.text %></br><strong><%= copy.language %></strong></li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
