h1 {
  display: flex;
  justify-content: center;
  /* background-color: #f3dfc1; */
  width: 100%;
  height: 2em;
  align-items: center;
  margin: 0;
  font-size: 3em;
  color: #1a1c1a;
}

h4 {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
}

#navbar {
  background-color: #1a1c1a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 3em;
  font-size: 1.15em;
}

a:link,
a:visited {
  color: white;
}

a:hover {
  color: blue;
}

body {
  /* background-color: #f3dfc1; */
  margin: 0px;
  font-family: "special elite";
}

html {
  background: url(http://i.stack.imgur.com/kb0Zm.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h4,
h2,
p {
  display: flex;
  justify-content: center;
}

#text {
  font-family: "Open Sans Condensed";
  display: flex;
  flex-direction: column;
}

li {
  border-style: inset;
  margin: 1em;
  margin-right: 4em;
}

.English,
.Spanish,
.Persian {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  width: 50%;
  margin-bottom: 1em;
  padding-bottom: 1.5em;
}

.English {
  border-top: 1px solid black;
  padding-top: 1em;
}

h3 {
  /* display: flex; */
  justify-content: center;
  padding-left: 10px;
}
